## Name - Gaurang Vivek Sonkavde

## Class - M.Tech AI-ML

## PRN Number - 21070149023 

## Subject - Unsupervised Learning

# Associative Rule Mining Algorithm

In[1]:

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
storedata = pd.read_csv(r"C:\Users\gaura\OneDrive\Desktop\DataSets\data.csv")
storedata.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In[2]:

In [ ]:
storedata.shape

(169, 4)

In[3]:

In [ ]:
get_ipython().system('pip install apyori')

Requirement already satisfied: apyori in c:\users\dell\anaconda3\lib\site-packages (1.1.2)

In[4]:

In [ ]:
transactions = []
for i in range(0, storedata.shape[0]):
    transactions.append([str(storedata.values[i, j]) for j in range(0,4)])
    
print(transactions[0])

['60.0', '110.0', '130.0', '409.1']

In[5]:

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In[6]:

In [ ]:
rules = apriori(transactions, min_support = 0.2, min_confidence = 0.2, min_lift = 1, min_length = 1)

In[7]:

In [ ]:
results = list(rules)

In[8]:

In [ ]:
results = pd.DataFrame(results)
results.head()

    items   support                        ordered_statistics
0  (45.0)  0.207101  [((), (45.0), 0.20710059171597633, 1.0)]
1  (60.0)  0.467456  [((), (60.0), 0.46745562130177515, 1.0)]

In[ ]: